<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room list</title>
</head>
<body>
    <h1>Welcome to booking boys</h1>
    {%for bok in booking_list%}
    <h2>{{bok}}</h2> <!--when we use this type of view as we used in views.py for RoomList we get our list in the form of model name(room)_list -->
    {% endfor %}
    <h1>yesyes</h1>  
</body>
</html>