*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.box{
    
}
.div3{
    width: 100%;
}
.div2{
    width: 50%;
    float: right;
    padding: 5%;
    margin-top: 90px;
    box-shadow: 1px 2px 10px 5px  rgb(44, 43, 43);
    margin-right: 50px;
}
.div2 h1{
    text-align:  center;
    margin-left: 60px;
}
.div2 p{
    text-align: center;
    margin-left: 100px;
}
.div1{
    width: 50%;
}
.div1 img{
  float: left;
  margin-left: 90px;
  margin-top: 20px;

width: 70%;
height: 500px;
box-shadow: 1px 2px 10px  purple;
}
.div2 a{
    text-align: center;
    margin-left: 100px;
}
.div4{
   padding: 10%;
   border: 5px solid rgb(97, 19, 187);
   background-color: rgb(209, 134, 134);

}
.div4 h1{
    text-align: center;
}
body{
    background-color: white;
}