{% extends "room/base.html" %}
<!-- room ko base.html -->
{% block content %}
<!-- for overriding from base.html -->
 <!-- block is a section that child template can override -->
 <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<div class="collect">
    <div class="detailfooter">
        <img src={{theta_image.image.url}} alt="picture" width="100%" height="400"> 
        <p>{{theta_image.description}}</p>   
    </div>
        <div class="page-forms">
            <form id="reserve" action="{{x.id}}" method="post">
                {% csrf_token %}
                <input type="text" name="fullname" id="fullname" class="form-control" placeholder="Full name" required><br>
                <input type="number" name="contact" id="contact" class="form-control" placeholder="Contact Number" required><br>
                <textarea type="text" name="room" class="form-control" placeholder="Select Room" rows="1" readonly >{{theta_image.caption}}</textarea><br>
                <h4>Check in</h4>
                <input type="date" name="checkin" id="checkin" class="form-control" placeholder="" required><br>
                <h4>Check out</h4>
                <input type="date" name="checkout" id="checkout" class="form-control" placeholder="P" required ><br>
                <button type="submit" class="btn btn-success" onclick="btnsub()" style="margin-bottom: 10px;">Book room</button>
            </form>
        </div>    
</div>
 
        <style>
            .collect{
                display: flex;            
            }

			 .form-content{
				
				line-height: 38px;
				margin-left: 10px;
				
			}
			.form-content h1{
				margin-right: 28px;

			}
			.page-forms {
				height: 50%;
			    width: 40%;
			    text-align: center;
			    font-size: 16px;
			    margin-top: 3%;
			    border: 2px solid gray;
			}
			.page-forms h4{
			    font-family: 'Anton', sans-serif;
			}
			.form-control{
				width: 95%;
				margin-left: 10px;
				padding: 10px;
				box-sizing: border-box;
				outline: none;
				transition: all  ease;
				line-height: 30px;
			}
			.form-control[type="text"]{
				margin: 10px;
			}
			.contact-info{
				text-align: center;
				margin-right: 10px;
				font-family: 'Comfortaa', cursive;

			}
			.detailfooter{
			margin-bottom: 7%;
			}
			.detailfooter{
			margin-top: 3%;
			padding-bottom: 20px;
			width: 50%;
			margin-right: 3%;
			} 
			.detailfooter p{
			margin-top: 2%;
			box-shadow: 1px 2px 5px black;
			width: 100%;
			} 
			/* Responsive */
			@media screen and (max-width: 1116px){
				.form-control{
					line-height: 27px;
					width: 70%;
			}
			}
			@media screen and (max-width: 1086px){
			.form-control{
					line-height: 27px;
					width: 75%;
			}
			}
			@media screen and (max-width: 986px){
				.form-control{
					line-height: 25px;
					width: 80%;
				}
			}
			@media screen and (max-width: 736px){
			.collect{
			        display: grid;
			        grid-template-columns: 1fr;
			        text-align: center;
			 }
			.form-control{
					line-height: 23px;
					width: 90%;
			}
			.detailfooter{
				margin-left: 10%;
				width: 80%;
			}
			.detailfooter p{
				margin-left: 0%;
				width: 80%;
			}
			.page-forms{
				width: 70%;
			}
			}
			@media screen and (max-width: 480px){
				.form-control{
					line-height: 18px;
					width: 80%;
			}
			}

        </style>
		<script>
			function btnsub(){
				let na = document.getElementById('fullname');
				let em = document.getElementById('contact');
				let ch = document.getElementById('checkin');
				let che = document.getElementById('checkin');
				if(na.value.length==0||em.value.length==0||ch.value.length==0||che.value.length==0){
					alert("Please fill the form properly.");
				}
				if(na.value.length!=0&&em.value.length!=0&&ch.value.length!=0||che.value.length!=0){
					alert("Room has been booked successfully.");
				}
			}
		</script>

{% endblock content %}