{% extends "room/base.html" %}
<!-- blog ko base.html -->
{% block content %}
<!-- for overriding from base.html -->
{% load static %}
      <div class="slider">
         <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
                     <img src="{% static "media/1.jpg" %}" class="d-block w-100" alt="none">
            </div>
               <div class="carousel-item">
                     <img src="{% static "media/2.jpg" %}" class="d-block w-100" alt="none">
               </div>
               <div class="carousel-item">
                     <img src="{% static "media/3.jpg" %}" class="d-block w-100" alt="none">
               </div>
               </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
               </button>
               <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
               </button>
         </div>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"></script>
      </div>
     
    {% for x in pics %}
   <div class="Photos">
      <div class="Gallery">
         <a href="#"><img class="sec-img" src="{{x.image.url}}"  width="300" height="250"></a>
         <p class="cap">{{x.caption}}</p>
      </div>
   </div> 
   {% endfor %}
   </div>   
    <!-- end for is necessary after we write for -->
{% endblock content %}