<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Contact page</title>
</head> 
<body style="background-color: black;">
        <div class="div1"> 
            <h1>Thank you!</h1>
            <h4>We have recieved your message we will contact you soon.</h4>
            <h3>
                <a href="Contact.html" style="color: red;">Click to go back</a>
            </h3>
        </div>
</body>
<style>
.div1{
    text-align: center;
    width: 30%;
    background-color: white;
    padding-bottom: 2px;
    margin-top: 20%;
    margin-left: 35%;
}
</style>
</html>